<h1>Admin Panel</h1>

<table style="width:100%">
    <tr>
        <th>Post</th>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>Price</th>
    </tr>
    {% for taskdict in reportedList %}
    
    <tr>
        {% for key, value in taskdict.items() %}
                <td>{{value}}</td>

        {% endfor %}
        <form method=post enctype=multipart/form-data>
            <td><button> name="Ignore" value="{{ taskdict['id'] }}"</button></td>
            <td><button> name="Delete" value="{{ taskdict['id'] }}"</button></td>
        </form>
    </tr>
    {% endfor %}

    <tr>
        <th>Post</th>
        <th>Reason</th>
    </tr>
    <tr>
        <td>Sample</td>
        <td>Spam</td>
    </tr>

</table>