<h1>Admin Panel</h1>

<table style="width:100%">
    {% for taskdict in reportedList %}
    <tr>
        <th>Post</th>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>Price</th>
    </tr>
    <tr>
        {% for id, title, description, location, price in taskdict %}
                <td>{{value}}</td>
                <td>{{description}}</td>
                <td>{{location}}</td>
                <td>{{price}}</td>
        {% endfor %}
    </tr>
    {% endfor %}

    <tr>
        <th>Post</th>
        <th>Reason</th>
    </tr>
    <tr>
        <td>Sample</td>
        <td>Spam</td>
    </tr>

</table>